@layer utilities {
  #tenant-layout
    li.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
    background-color: #13b8a6 !important;
    color: #fff !important;
  }

  #tenant-layout li.ant-menu-item.ant-menu-item-only-child {
    color: #99a1af !important;
    &:hover {
      color: #fff !important;
    }
  }

  #tenant-layout li.ant-menu-item.ant-menu-item-only-child:hover {
    color: #fff;
  }

  #tenant-layout .tenant-scroll {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
  }

  #tenant-layout .tenant-scroll::-webkit-scrollbar {
    width: 6px;
  }

  #tenant-layout .tenant-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  #tenant-layout .tenant-scroll::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 9999px;
  }

  #tenant-layout .tenant-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af;
  }
}
