VITE_FRONTEND_PORT=5004
VITE_BACKEND_PORT=6002
VITE_APP_NAME=BM
VITE_SHORT_APP_NAME=BM
VITE_NAME=Building Management
VITE_BASE_URL_API=http://localhost:6002/api

VITE_BACKEND_URL=http://localhost:6002
