.ant-table-thead tr th {
  background-color: #213641 !important;
  color: white !important;
}

.ant-table-tbody tr td {
  background-color: #1e2a34 !important;
  color: white !important;
  padding-left: 12px !important;
}

.ant-space {
  row-gap: 4px !important;
  padding-top: 12px !important;
}

.ant-space.ant-space-vertical.ant-space-gap-row-small.ant-space-gap-col-small
  .ant-row {
  background-color: transparent !important;
  color: white;
  border-bottom: 1px solid white;
  padding: 10px 0;
  gap: 0px;
}

