.invoice-dark-table .ant-table {
  color: #d1d5db !important;
}

.css-var-root.ant-table-css-var {
  --ant-table-header-border-radius: 0px !important;
}

.invoice-dark-table .ant-table-thead > tr > th {
  color: #9ca3af !important;
  border-bottom: 1px solid #1f2937 !important;
  font-weight: 500;
  padding: 16px 24px;
}

.invoice-dark-table .ant-table-thead > tr > th::before {
  display: none !important;
}

.invoice-dark-table .ant-table-tbody > tr > td {
  border-bottom: 1px solid #1f2937 !important;
  padding: 16px 24px;
  transition: background-color 0.2s;
}

@media (max-width: 640px) {
  .invoice-dark-table .ant-table-thead > tr > th,
  .invoice-dark-table .ant-table-tbody > tr > td {
    padding: 12px 12px;
  }

  .invoice-dark-table .ant-table-pagination {
    margin-right: 12px !important;
  }
}

.invoice-dark-table .ant-table-tbody > tr:hover > td {
  background-color: #111827 !important;
}

.invoice-dark-table .ant-empty-description {
  color: #9ca3af !important;
}

.invoice-dark-table .ant-pagination-item {
  background-color: transparent;
  border-color: #374151;
}

.invoice-dark-table .ant-pagination-item a {
  color: #d1d5db;
}

.invoice-dark-table .ant-pagination-item-active {
  background-color: #1f2937;
  border-color: #4b5563;
}

.invoice-dark-table .ant-pagination-item-active a {
  color: #fff;
}

.invoice-dark-table .ant-pagination-prev .ant-pagination-item-link,
.invoice-dark-table .ant-pagination-next .ant-pagination-item-link {
  background-color: transparent;
  border-color: #374151;
  color: #d1d5db;
}

.invoice-dark-table .ant-table-pagination {
  margin-right: 24px !important;
}

.invoice-payment-modal > .ant-modal-container {
  background-color: #1a1d29 !important;
}
/* .ant-table-wrapper .ant-table-cell.ant-table-cell-fix {
  background-color: #1f2937 !important;
} */
